{% extends 'base.html' %}
{% block main_content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4" style="font-size: 26px;">Карта на населени места</h1>
            <p class="lead" style="font-size: 20px;">Намерете най-близката ни база и открийте къде можем да ви доставим нашите продукти и услуги. С интерактивната карта на Гато 2020, лесно може да откриете нашия обект във вашето населено място и да се свържете директно с нашия екип. Не пропускайте възможността да започнете сътрудничество с нас и да се възползвате от нашите ексклузивни предложения!</p>
        </div>
        <div class="col-md-6">
            <div id="map" style="height: 400px;"></div>
        </div>
    </div>
</div>
    
<script>
    
    var map = L.map('map').setView([43.2, 27.8], 8);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    
    var customIcon = L.divIcon({
        className: 'custom-marker',
        html: '<img src="/static/media/gold_logo_with_black_background.png" width="25" height="25">',
    });
    
    var gpsPoints = [
        [43.221110, 27.569440], //Девня
        [43.183333, 27.433333], //Провадия
        [43.333333, 27.600000], //Суворово
        [43.261777, 27.816656], //Аксаково
        [43.216667, 27.916667], //Варна
        [43.566667, 27.833333], //Добрич
        [44.116667, 27.266667], //Силистра
        [43.816667, 27.133333], //Дулово
        [43.750000, 27.383333], //Тервел
        [43.433333, 28.333333], //Каварна
        [43.191356, 27.706479], //Белослав
        [43.053332, 27.341281], //Дългопол
        [43.400962, 27.375245], //Доброплодно
        [43.060481, 27.809522], //Равна гора
        [42.822682, 27.877695], //Обзор
        [43.032197, 27.887726], //Камчия
        [43.284007, 28.039907], //Златни пясъци
        [43.235049, 28.012532], //Св. Константин и Елена
        [43.248487, 27.982338], //Виница
        [43.331511, 27.014079], //Царев брод
        [43.350795, 27.194188], //Нови пазар
        [43.607348, 28.045443], //Змеево
        [42.879101, 27.884712], //Бяла
        [43.346258, 28.051259], //Кранево
        [43.706717, 28.039290], //Генерел Тошево
        [43.689925, 28.531075], //Дуранкулак
        [43.457690, 28.550825], //Камен бряг
        [43.539547, 28.535333], //Шабла
        [43.949660, 27.286834], //Алфатар
        [43.819573, 27.755912], //Крушари
        [43.408663, 27.552076], //Вълчи дол
        [43.421249, 28.265456], //Топола
        [43.416968, 28.512324], //Русалка
        
    ];

    gpsPoints.forEach(function(point) {
        L.marker(point, {icon: customIcon}).addTo(map);
    });
    
    var searchControl = new L.Control.Search({
        position: 'topright',
        layer: L.geoJSON(),
        propertyName: 'name', 
        marker: false,
        moveToLocation: function(latlng, title, map) {
            map.setView(latlng, 10);
        }
    });

    map.addControl(searchControl);


</script>

    <style>
    #map {
        width: 80%;
        height: 600px;
        margin: auto;
        margin-top: 20px;
    }

    .custom-marker img {
    border-radius: 50%; 
}
</style>


{% endblock %}