{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4">Добави продукт:</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_category">Категория:</label>
                    {{ form.category }}
                </div>
                <div class="form-group">
                    <label for="id_name">Име:</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="id_package_weight">Кг/пакет:</label>
                    {{ form.package_weight }}
                </div>
                <div class="form-group">
                    <label for="id_arabica">Арабика (%):</label>
                    {{ form.arabica }}
                </div>
                <div class="form-group">
                    <label for="id_robusta">Робуста (%):</label>
                    {{ form.robusta }}
                </div>
                <div class="form-group">
                    <label for="id_image">Изображение:</label>
                    {{ form.image }}
                </div>
                <div class="form-group">
                    <label for="id_origin">Произход:</label>
                    {{ form.origin }}
                </div>
                <div class="form-group">
                    <label for="id_description">Описание:</label>
                    {{ form.description }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Запази</button> 
            </form>
        </div>
    </div>
</div>
    

{% endblock %}

{% block footer %}
<footer class="bg-dark text-white py-3 fixed-bottom" style="z-index: 1000;">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="mb-0">© 2024 Примерен Уеб Сайт. Всички права запазени.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
