{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<div class="container text-center mb-4"> 
    <h1 class="mt-5 mb-4" style="font-size: 26px;">Открийте нашата богата селекция от Нестле продукти, предлагани от Гато 2020</h1>
    <p style="font-size: 20px;">Независимо дали сте хотелиер, ресторантьор или офис мениджър, нашите кафе, напитки и машини са точното решение за вашите нужди. Разгледайте нашата гама и открийте любимите си брандове на Нестле!</p>
</div>

<div class="container">

    <div class="row" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); grid-gap: 20px;">
        {% for product in products %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5> 
                <img src="{{ product.image.url }}" class="card-img-top mx-auto d-block" alt="{{ product.name }}" style="width: 100%; height: 350px; object-fit: cover;">
                <p class="card-text">Категория: {{ product.category }}</p>
                <p class="card-text">Кг/пакет: {{ product.package_weight }}</p>
                {% if product.origin %}
                <p class="card-text">Произход: {{ product.origin }}</p>
                {% endif %}
                {% if product.arabica %}
                <p class="card-text">Арабика: {{ product.arabica }}%</p>
                {% endif %}
                {% if product.robusta %}
                <p class="card-text">Робуста: {{ product.robusta }}%</p>
                {% endif %}
                <p class="card-text">Описание: {{ product.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-4">
    <div class="text-left"> 
        {% if request.user.is_superuser %}
            <a href="{% url 'add_product' %}" class="btn btn-primary">Добави нов продукт</a>
        {% endif %}
    </div>
</div>
{% endblock %}


{% block footer %}
<footer class="bg-dark text-white py-3 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>© 2024 Примерен Уеб Сайт. Всички права запазени.</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
