{% extends 'base.html' %}
{% load static %}
{% block main_content %}


    <div class="container">
        <h1 class="mt-5 mb-4">Product List</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Unit: {{ product.unit }}</p>
                        {% if product.intensity %}
                        <p class="card-text">Intensity: {{ product.intensity }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
