{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начало</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-search/dist/leaflet-search.min.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-search/dist/leaflet-search.min.js"></script>

</head>
<body>

<header class="bg-dark text-white py-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand mr-3" href="#">
                <img src="{% static '/media/gold_logo.png' %}" alt="GATO 2020 Лого" class="logo" style="max-width: 75px; max-height: 75px;">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="fas fa-home"></i> Начало
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'important_clients_list' %}">
                            <i class="fas fa-users"></i> Ключови клиенти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'product_list' %}">
                            <i class="fas fa-shopping-bag"></i> Продукти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'map' %}">
                            <i class="fas fa-envelope"></i> Карта
                        </a>
                    </li>

                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <i class="fas fa-user" style="color: green;"></i> {{ user.username }}
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>

{% block main_content %}
{% endblock %}

<footer class="bg-dark text-white py-3 mt-5"> <div class="container-fluid bg-dark text-white">
        <div class="row">
            <div class="col">
                <p>За контакти: gato2020ood@gmail.com | Телефон: +359 89 918 8521 | Последвайте ни: <a href="https://www.facebook.com/profile.php?id=100083437474643">Facebook</a> © Гато 2020 Всички права са запазени.</p>

            </div>
        </div>
    </div>
</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

</body>
</html>
